---
import Layout from "../layouts/Layout.astro"
---

<Layout title="合同会社 K">
  <h2>会社概要</h2>

  <table class="table is-striped is-hoverable is-bordered">
    <tbody>
      <tr><th>社名</th><td>合同会社 K</td></tr>
      <tr><th>設立</th><td>2024年11月28日（届け出中）</td></tr>
      <tr><th>資本金</th><td>300万円</td></tr>
      <tr><th>本店</th><td>東京都（詳細非公開）</td></tr>
      <tr><th>事業内容</th><td>画像処理・映像処理・リアルタイムコミュニケーション・IoT・AIなどのITプロダクト開発</td></tr>
      <tr><th>連絡先</th><td>kounoike.yuusuke _at_ gmail.com</td></tr>
    </tbody>
  </table>
</Layout>
